# Set these if running via Docker Compose
DB_ENGINE=mysql

# MySQL container will inherently use this password to initialise 
# and Django will use it to connect.
DB_PASSWORD=secret_docker_password

# Django
DEBUG=False
SECRET_KEY=generate_a_strong_secret_key_for_production
ALLOWED_HOSTS=*

# Throttling
THROTTLE_ANON=100/minute
THROTTLE_USER=200/minute
THROTTLE_EVALUATE=60/minute
